<div class="user-info">
  <%= image_tag "#{@user.profile_pic}", size: "230x230", class: "avatar" %>
  <h1><%= @user.name %></h1>
  <h3><%= @user.username %></h3>

  <h1>Repositories (<%= @user.repos(@user).count %>)</h1>
  <% @user.repos(@user).each do |repo| %>
    <li><%= link_to "#{repo.name}",  "https://github.com/#{@user.username}/#{repo.name}"%></li>
  <% end %>

  <h1>Followers (<%= @user.followers(@user).count %>)</h1>
  <% @user.followers(@user).each do |follower| %>
    <li><%= link_to "#{follower.login}", "https://github.com/#{follower.login}" %></li>
  <% end %>

  <h1>Following (<%= @user.following(@user).count %>)</h1>
  <% @user.following(@user).each do |followed_user| %>
    <li><%= link_to "#{followed_user.login}", "https://github.com/#{followed_user.login}"%></li>
  <% end %>

  <h1>Starred Repositories (<%= @user.starred_repos(@user).count %>)</h1>
  <% @user.starred_repos(@user).each do |repo| %>
  <li><%= link_to "#{repo.name}", "https://github.com/#{repo.full_name}" %></li>
  <% end %>

  <h1>Organizations (<%= @user.orgs(@user).count %>)</h1>
  <% @user.orgs(@user).each do |org| %>
  <li><%= org.name %></li>
  <% end %>

  <h1>Recent Activity</h1>
  <% @user.events(@user).each do |event| %>
    <%= render partial: "event", locals: { event: event } %>
  <% end %>

  <h1>Following (<%= @user.following(@user).count %>)</h1>
  <% @user.following(@user).each do |followed_user| %>
    <h2><%= link_to "#{followed_user.login}", "https://github.com/#{followed_user.login}"%></h2>
    <% @user.followed_events(followed_user.login).each do |event| %>
      <%= render partial: "event", :locals => { :event => event } %>
    <% end %>
  <% end %>
</div>
