<div class="container">
  <div class="row">
    <div class="user-info col-md-4">
      <%= image_tag "#{@user.profile_pic}", size: "230x230", class: "avatar" %>
      <h1><%= @user.name %></h1>
      <h3><%= @user.username %></h3>

      <h3>Contributions</h3>
      <p>
        <strong>Contributions in the Last Year: </strong>
        <%= @user.contributions_in_last_year(@user) %>
      </p>
      <p>
        <strong>Longest Streak: </strong>
        <%= @user.longest_streak(@user) %>
       </p>
      <p>
        <strong>Current Streak: </strong>
        <%= @user.current_streak(@user) %>
      </p>

      <h3>Following (<%= @user.following(@user).count %>)</h3>
      <% @user.following(@user).each do |followed_user| %>
        <div class="row">
          <h4>
            <%= link_to "#{followed_user.login}", "https://github.com/#{followed_user.login}"%> -
            <%= link_to "Events", following_path(followed_user.login) %>
          </h4>
        </div>
      <% end %>

      <h3>Followers (<%= @user.followers(@user).count %>)</h3>
      <% @user.followers(@user).each do |follower| %>
      <h4><%= link_to "#{follower.login}", "https://github.com/#{follower.login}" %></h4>
      <% end %>

      <h3>Starred Repositories (<%= @user.starred_repos(@user).count %>)</h3>
      <% @user.starred_repos(@user).each do |repo| %>
      <h4><%= link_to "#{repo.name}", "https://github.com/#{repo.full_name}" %></h4>
      <% end %>

      <h3>Organizations (<%= @user.orgs(@user).count %>)</h3>
      <% @user.orgs(@user).each do |org| %>
      <h4><%= org.name %></h4>
      <% end %>
    </div>

    <div class="repositories col-md-8">
      <h2>Repositories (<%= @user.repos(@user).count %>)</h2>
      <% @user.repos(@user).each do |repo| %>
      <h3><%= link_to "#{repo.name}",  "https://github.com/#{@user.username}/#{repo.name}"%></h3>
      <hr>
      <% end %>
    </div>
  </div>

  <h3>Recent Activity</h3>
  <% @user.events(@user).each do |event| %>
    <%= render partial: "event", locals: { event: event } %>
  <% end %>

</div>
