<!DOCTYPE html>
<html>
  <head>
    <title>Apicurious</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"> -->
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
